<h6 style="text-align:center">Songs</h6>
<table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">Artwork</th>
          <th scope="col">Song</th>
          <th scope="col">Date Of Release</th>
          <th scope="col">Artist</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of songList">
          <th scope="row"><img [src]="c.coverImgUrl" alt="Place image title" style="width:100px"></th>
          <td>{{c.sName}}</td>
          <td>{{c.releaseDate}}</td>
          <td><div style="display:flex"><p *ngFor="let x of c.artist_songs" >{{x.artists.name}} ,</p></div></td>
          <td><ngx-star-rating [id]="'rating'" [disabled]="true"></ngx-star-rating>{{c.rating}}</td>
          
        </tr>


      </tbody>
  </table>