<h6 style="text-align:center">Artists</h6>
<table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Songs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Artist Name</th>
          <td>05/03/2000</td>
          <td>Otto</td>
  
        </tr>
        <tr>
            <th scope="row">Artist Name</th>
            <td>05/03/2000</td>
            <td>Otto</td>
    
          </tr>

      </tbody>
  </table>