<h4 style="text-align:center ;">Add a new Song</h4>
<div style="width: 50%;margin-left:25%;">
    <form>
        <!-- Name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form4Example1">Song Name</label>
          <input type="text" id="form4Example1" class="form-control" />
          
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Date of Release</label>
          <input type="date" id="form4Example2" class="form-control" />
          
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form4Example3">ArtWork</label>
            <input type="file" id="form4Example2" class="form-control" />
        </div>
        <label class="form-label" for="form4Example3">Artist</label>
        <div style="display:flex;">
           
        <div >
           <select class="form-control selectpicker" name="" id=""   >
               <option selected disabled>Choose artists</option>
               <option value="1">One</option>
               <option value="2">two</option>
           </select>
        </div>
        <span class="example-spacer"></span>
        <div>
            <button class="btn btn-dark btn-block mb-4" (click)="navigate()">+ Add Artist</button>
        </div>
       </div>

      
        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4">Save</button>
      </form>

</div>



