<h4 style="text-align:center ;">Login</h4>
<div style="width: 50%;margin-left:25%;">
    <form (ngSubmit)="submit()">      
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Your Email</label>
          <input type="enail" id="form4Example2" [(ngModel)]="signIn.email" name="email"class="form-control" />
         
          <!--password input -->
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Password</label>
          <input id="Password" [(ngModel)]="signIn.password" name="password" class="form-control"/>
        </div>
      
      

       

      
        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4">Save</button>
      </form>

</div>



